@mixin size($height, $width) {
  height: $height;
  width: $width;
}

$orange: rgb(245, 113, 24);

//FEATURES TEAMS
.ftWrapper{
  @include size(auto, 1200px);
  margin: 20px auto;
  justify-content: center;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.ft-card{
  @include size(135px, 280px);
  border-radius: 5px;
  box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.25);
  cursor: pointer;
  margin: 35px 30px;
  padding: 14px 25px;
  position: relative;
  transition: all .3s ease-in;
  h3{
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  h3,p{
    font-weight: 300;
    text-align: right;
  }
  .hr{
    @include size(1px, 100%);
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(73, 73, 73, 0.747);
  }
  p{
    font-size: 14px;
    margin-bottom: 15px;
  }
  p:last-child{
    line-height: 20px;
    text-align: left;
  }
  &:hover{
    border: 1px solid #000;
    box-shadow: none;
  }
}

h3.medium{
  font-size: 21px;
}

.ft-card-icon{
  @include size(80px, 80px);
  border-radius: 50%;
  left: 33px;
  position: absolute;
  top: -30px;
}

.far, .fas:not(.fa-times){
  color: #fff;
  display: inline-block;
  font-size: 30px;
  line-height: 80px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.ft-card-statut{
  background: url('../src/images/Status.png') 0 0 no-repeat;
  background-size: cover;
  @include size(20px, 20px);
  float: left;
  margin-right: 10px;
}

header{
  background-color: $orange;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  h2{
    color: #fff;
    font-weight: 300;
    display: inline;
    line-height: 55px;
    margin-left: 30px;
  }
}

//FT Section
.team-section{
  @include size(500px, 800px);
  border-radius: 20px;
  box-shadow:  -1px 5px 20px 0px rgba(50, 50, 50, 0.75);
  margin: 30px auto;
  padding-top: 10px;

  h1{
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
  }

  div:nth-child(2){
    @include size(auto, 80%);
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    button{
      @include size(250px, 200px);
      background-color: transparent;
      border-radius: 10px;
      box-shadow:  -1px 5px 20px 0px rgba(50, 50, 50, 0.404);
      color: #000;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      outline: none;
      i{
        font-size: 40px;
        color: #000;
      }
      &:hover{
        border: 1px solid $orange;
        color:  $orange;
        i{
          color:  $orange;
        }
      }
    }
  }
}

.team-section-icon{
  @include size(80px, 80px);
  border-radius: 50%;
  margin: auto;
  margin-top: 75px;
}


// POP UP
.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width:100%;
  z-index: 2;

  .modal-main {
    @include size(450px, 470px);
    background: white;
    border-radius: 25px;
    left:50%;
    position: relative;
    top:50%;
    transform: translate(-50%,-50%);
  }

  i{
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 15px;
    &:hover{
      color: $orange;
    }
  }
  h1, p{
    font-weight: 200;
    text-align: center;
  }
  h1{
    padding-top: 40px;
  }
  p{
    margin-top: 10px;
  }
  img{
    @include size(255px, 300px);
    margin: auto;
    display: block;
  }
  div{
    bottom: 65px;
    left: 22%;
    position: absolute;
    width: 375px;
  }
  input{
    @include size(40px, 255px);
    background-color: #f0f0f0;
    border-radius: 35px;
    border: none;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    outline: none;
    padding-left: 15px;
  }
}

.modal-button{
  @include size(40px, 100px);
  background-color: #ff7233;
  border-radius: 35px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  left: -100px;
  letter-spacing: 1px;
  position: relative;
  transition: box-shadow .5s ease-in;
  z-index: 1;
  &:hover{
    box-shadow:  -1px 5px 20px 0px rgba(50, 50, 50, 0.404);
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


.inputGroup {
  background-color: #fff;
  border-radius: 3px;
  float: left;
  position: relative;
  width: 50%;

  label {
    padding: 12px 30px;
    width: 50%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    width: 100%;
    float: left;

    &:before {
      @include size(10px, 10px);
      border-radius: 50%;
      content: '';
      background-color: #ff7233;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      @include size(32px, 32px);
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: rgb(0, 0, 0);
      border-color: rgb(0, 0, 0);
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
    background-color: #000;
  }
}

.form {
  font-size: 18px;
  font-weight: 600;
  left: 147px;
  line-height: 36px;
  margin: 50px auto;
  max-width: 550px;
  padding: 0 16px;
  position: absolute;
  top: 320px;
  width: auto;
}

.form-inputs{
  display: inline-block;
  width: 500px;
  height: 60px;
  box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.6);
  border-radius: 5px;
  overflow: hidden;
}

.question-form{
  @include size(auto, auto);
  .question-form-menu{
    @include size(auto, auto);
    position: absolute;
    top: 60px;
    left: 35px;
    hr{
      @include size(2px, 10px);
      background-color: #000;
      border: #000
    }
  }
}

.question-form-card{
  @include size(400px, 800px);
  border-radius: 20px;
  box-shadow: -1px 5px 20px 0px rgba(50, 50, 50, 0.75);
  margin: auto;
  margin-top: 150px;
  padding: 25px 60px;
  position: relative;

  hr, h3{
    margin-left: 15px;
  }

  h3, h2, p{
    font-weight: 300;
  }

  h3{
    font-size: 65px;
    span{
      font-size: 25px;
      color: grey;
    }
  }

  h2{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }

  hr{
    @include size(5px, 50px);
    background-color: $orange;
    border: none;
    float: left;
  }

  p{
    font-size: 19px;
    margin-top: 15px;
    text-align: center;
    padding: 50px;
  }
}