@import "../../App.scss";
header {
  background-color: $orange;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  h2 {
    color: #fff;
    font-weight: 300;
    display: inline;
    line-height: 55px;
    margin-left: 44%;
  }
}
